*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #e3e6eb;
}

.badge {
  display: inline-block;
  padding: 0.75em 1.5em;
  margin: 1em;
  font-size: 1.5em;
  color: #1F2937;
  background-color: #F3F4F6;
  border-radius: 0.25rem;
  font-weight: bold;
}

.badge.square {
  border-radius: .25em;
}

.badge.round {
  border-radius: 1em;
}

.badge.red {
  background-color: #FEE2E2;
  color: #991B1B;
}

.badge.yellow {
  background-color: #FEF3C7;
  color: #92400E;
}

.badge.green {
  background-color: #D1FAE5;
  color: #065F46;
}

.badge.blue {
  background-color: #DBEAFE;
  color: #1E40AF;
}

.badge.indigo {
  background-color: #E0E7FF;
  color: #3730A3;
}

.badge.purple {
  background-color: #EDE9FE;
  color: #5B21B6;
}

.badge.pink {
  background-color: #FCE7F3;
  color: #9D174D;
}

.banner {
  padding: .75em 1.5em;
  gap: .75em;
  border-radius: .5em;
  margin: 2em;
  display: flex;
}

.banner .icon {
  width: 1em;
  height: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.banner.success {
  background-color: #ECFDF5;
  color: #047857;
}

.banner.error {
  background-color: #FEF2F2;
  color: #B45309;
}

.banner.warning {
  background-color: #FFFBEB;
  color: #B45309;
}

.banner.neutral {
  background-color: #EFF6FF;
  color: #1C51B9;
}

.banner .text{
  display: flex;
  flex-direction: column;
  gap: .75em;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5em;
  border-radius: .5em;
  background-color: #FFFFFF;
  margin: 2em;
  max-width: 400px;
  color: #6B7280;
  position: relative;
}

.card:hover,
.card:focus {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2{
  font-weight: 500;
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #111827;
}

.card img{
  width: 3em;
  height: 3em;
  position: absolute;
  top: -1em;
}

.testimonial{
  display: flex;
  align-items: center;
  background-color: #2545B8;
  color: white;
  padding-inline: 4em;
  margin: 4em 2em;
  margin-bottom: 6em;
  position: relative;
  height: 400px;
  gap: 2em;
}

.testimonial_picture{
  height: 464px;
  position: relative;
  border-radius: .75em;
}

.testimonial_content {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  max-width: 800px;
}

.testimonial_description {
  font-size: 1.5em;
  line-height: 2em;
  margin-block: 1.5em;
  font-weight: 500;
}

.name {
  font-weight: 700;
  line-height: 1.5em;
}

.title {
  font-weight: 500;
  line-height: 1.5em;
}

.testimonial.no_picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F9FAFB;
  color: #111827;
  margin: 2em;
  margin-bottom: 4em;
  padding: 0;
}

.testimonial.no_picture .dot-pattern {
  position: absolute;
  width: 241px;
  height: 298px;
  bottom: 0;
  left: 0;
}

.testimonial.no_picture .testimonial_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-shadow: #F9FAFB 0 0 10px;
}

.testimonial.no_picture .tertimonial_header {
  display: flex;
  align-items: center;
  gap: 1em;
  align-items: center;
}

.tertimonial_header span {
  color: #2E59F3;
}

.testimonial.no_picture .testimonial_description {
  max-width: 768px;
  text-align: center;
}

.testimonial.no_picture .testimonial_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.testimonial.no_picture .testimonial_footer span {
  color: #2E59F3;
  font-size: 1.5em;
  font-weight: bold
}

.testimonial_mobile_container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: white;
  margin-block: 2em;
  position: relative;
  padding-top:30%;
}

.dotPatternMobile {
  width: 100%;
  border-radius: .75em;
  position: absolute;
  top: 0;
}

.testimonial_mobile_content {
  background-color: #2545B8;
  padding: 9em 2em 3em 2em;
}

.testimonial_mobile_text{
  font-size: 1.5em;
  margin-block: 1.5em;
}

.testimonial_mobile_container_no_picture{
  padding: 4em 2em;
  min-height: 400px;
  max-width: 400px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F9FAFB;
  color: #111827;
  margin: 2em;
  margin-bottom: 4em;
  position: relative;
  gap: 2em;
}

.dotPatternMobile_noPicture {
  position: absolute;
  bottom: 0;
  left: 0;
}

.tertimonial_header {
  display: flex;
  align-items: center;
  gap: 1em;
  color: black;
}

.testimonial_mobile_no_picture_content {
  font-size: 1.5em;
}

.testimonial_mobile_info_no_picture {
  align-self: flex-start;
  gap: .5em;
  text-shadow: #F9FAFB 0 0 10px;
  z-index: 1;
}

.tooltip-container {
  display: flex;
  width: 384px;
  height: 98px;
  background-color: #262626;
  margin: 2em;
  border-radius: .5em;
  padding: 1em;
  color: #C7C7C7;
  position: relative;
}

.tooltip-container-tip{
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #262626;
  bottom: -13px;
  left: calc(20% - 17px);
  rotate: 45deg;
}

.tooltip-content {
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin: 0 1em;
  font-size: 14px;
}

.Xicon {
  transition: transform 0.5s ease-in-out;
}


.Xicon:hover,
.Xicon:focus {
  cursor: pointer;
  transform: scale(1.3); 
}

.tooltip-container.blue,
.tooltip-container.blue .tooltip-container-tip{
  background-color: #1E40AF;
  color: #E8EDFF;
}

.tooltip-container.pink,
.tooltip-container.pink .tooltip-container-tip{
  background-color: #A9229B;
  color: #E8EDFF;
}

.tooltip-container.green,
.tooltip-container.green .tooltip-container-tip{
  background-color: #47AA5D;
  color: #E8EDFF;
}

.tooltip-container.light,
.tooltip-container.light .tooltip-container-tip{
  background-color: #FFFFFF;
  color: #6B7280;
}

.tooltip-container.blue.light,
.tooltip-container.blue.light .tooltip-container-tip {
  background-color: #E0E7FF;
  color: #1C51B9;
}

.tooltip-container.pink.light,
.tooltip-container.pink.light .tooltip-container-tip{
  background-color: #FFF3FC;
  color: #C7369E;
}

.tooltip-container.green.light,
.tooltip-container.green.light .tooltip-container-tip{
  background-color: #E7FFF3;
  color: #3C8C4E;
}



@media (min-width: 500px) {
  .testimonial_mobile_container{
    width: 500px;
    padding-top:150px;
  }
}